body{
	background-color: #112A46;
}

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg,
.left-antena,
.right-antena {
	 background-color: #81EE72;
}

.head { 
	width: 235px; 
	margin: 0 auto; 
	height: 100px; 
	border-radius: 250px 250px 0 0; 
	margin-bottom: 10px;
} 

.head:hover {
	width: 250px;
    transition: 0.5s ease-in-out;
}

.left-antena, .right-antena{
	width: 10px; 
	height: 70px;
	border-radius: 100px;
	margin: 0 auto;
}

.antena{
	width: 200px; 
	height: 50px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	display: flex;
}

.left-antena{
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.right-antena{
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.left-antena:hover{
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
	transition: 1s ease-in-out;
}

.right-antena:hover{
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
	transition: 1s ease-in-out;
}

.upper_body { 
	width: 330px; 
	height: 150px;
	display: flex; 
	margin: 0 auto; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 155px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 
} 

.torso { 
	width: 235px; 
	height: 200px;
	border-radius: 0 0 30px 30px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	display: flex;

} 

.left_leg, .right_leg { 
	width: 50px; 
	height: 135px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 30px; 
} 

.left_leg:hover,  
.left_arm:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
	transition: 0.5s ease-in-out;
}

.right_arm:hover,
.right_leg:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
	transition: 0.5s ease-in-out;
}

.right_leg { 
	margin-left: 40px; 
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 60px; 
	left: 50px; 
	
} 

.right_eye { 
	position: relative; 
	top: 40px; 
	left: 160px;

}





